/* header */

.header {
    background-image: linear-gradient(90deg, #f9ebef 0%, #e8e9f1 100%);
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-navbar {
    justify-content: flex-end;
}

.nav-item {
    margin: 0 3.6rem;
}

.navbar-item-link {
    font-size: 1.5rem;
    color: var(--text-color) !important;
}

.navbar-logo {
    line-height: 6rem;
}

.logo {
    height: 36px;
}

.dropdown-item {
    padding: 1rem;
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
}

.dropdown-item:hover {
    background-image: linear-gradient(90deg, #8bdeda 0%, #43add0 25%, #998ee0 50%, #e17dc2 75%, #ef9393 100%);
    color: #ffffff;
    transition: linear 0.1s;
}

.dropdown-menu {
    border: none;
}

/* ----------------------------------------------- */

/* Search */

.search {
    background-color: #f2f2f2;
}

.form-box {
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.search-title {
    font-size: 2.6rem;
    color: var(--text-color);
}

.form-seach {
    height: 38px;
    margin: 2rem auto;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.btn-search {
    width: 132px;
    margin: auto;
    font-size: 1.4rem;
    color: #ffffff;
    background: linear-gradient(90deg, #c33764 0%, #1d2671 100%);
    box-shadow: 0px 0px 5px rgba(107, 24, 78, 0.6);
    border: none;
}

/* ----------------------------------- */

/* search-form */

.search-content {
    background: linear-gradient(90deg, #8bdeda 0%, #43add0 25%, #998ee0 50%, #e17dc2 75%, #ef9393 100%);
    margin-top: 4rem;
    border-radius: 2rem;
    padding-bottom: 3rem;
}

.search-content-none {
    display: block;
}

.search-content-none-js {
    display: block;
}

.search-content-title {
    line-height: 2rem;
    padding-top: 2rem;
    color: #ffffff;
}

.list-user {
    margin-top: 4rem;
}

.user {
    text-align: left;
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

.button-text {
    width: 64px;
    justify-content: center;
    background-color: var(--text-color);
    color: #ffffff;
}

/* content */

.content-title {
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
    color: #1d2671;
}

.content-text {
    font-size: 1.5rem;
    text-align: center;
    word-spacing: 0.2rem;
    line-height: 2.4rem;
}

.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-title {
    width: 300px;
    padding: 2rem;
}

.app {
    display: flex;
    height: 132px;
}

/* ---------------------------------- */

/* footer */

.footer {
    background: linear-gradient(90deg, #8bdeda 0%, #43add0 25%, #998ee0 50%, #e17dc2 75%, #ef9393 100%);
    color: #ffffff;
    text-align: center;
    padding-bottom: 4rem;
}

.footer-title {
    font-size: 1.8rem;
    margin-top: 3rem;
}

.footer-content {
    font-size: 1.5rem;
    margin-top: 1.6rem;
}

.desktop {
    display: none;
}

/* Responesive */

/* mobile */

@media (max-width: 767px) {
    html {
        font-size: 50%;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .header-navbar {
        position: absolute;
        right: 0;
        top: 6rem;
    }
    .nav-item {
        padding: 1rem;
        background-color: #f2f2f2;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 56.25%;
    }
    .header-navbar {
        position: absolute;
        right: 0;
        top: 6rem;
    }
    .nav-item {
        padding: 1rem;
        background-color: #f2f2f2;
    }
}

.design-form-input-UID-bottom {
    background: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
    margin: 0 auto;
    border-radius: 20px;
    width: 90%;
}

.design-input-UID-bottom {
    width: 80%;
    height: 45px;
    border-radius: 10px 0px 0px 10px !important;
    outline: none;
    padding: 10px 16px;
    background-color: white;
    font-size: 18px;
}

.design-button-UID-bottom {
    width: 10%;
    border-radius: 0px 10px 10px 0px !important;
    background: #1D2671;
}